In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [3]:

df = pd.read_csv('BTC-USD.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-23,32985.757813,33360.976563,31493.160156,32067.642578,32067.642578,48354737975
1,2021-01-24,32064.376953,32944.007813,31106.685547,32289.378906,32289.378906,48643830599
2,2021-01-25,32285.798828,34802.742188,32087.787109,32366.392578,32366.392578,59897054838
3,2021-01-26,32358.613281,32794.550781,31030.265625,32569.849609,32569.849609,60255421470
4,2021-01-27,32564.029297,32564.029297,29367.138672,30432.546875,30432.546875,62576762015

remove colums

In [4]:

df.drop(['Date','Open', 'High', 'Low', 'Adj Close', 'Volume', ],1,inplace=True)

In [5]:
df.head()

          Close
0  32067.642578
1  32289.378906
2  32366.392578
3  32569.849609
4  30432.546875

In [10]:
df.shape

(366, 1)

 Create another column shifted 'n'  units up

In [12]:
predictionDays = 30
df['Prediction'] = df[['Close']].shift(-predictionDays)

df.head()

          Close    Prediction
0  32067.642578  54207.320313
1  32289.378906  48824.425781
2  32366.392578  49705.332031
3  32569.849609  47093.851563
4  30432.546875  46339.761719

In [13]:
df.tail()

            Close  Prediction
361  41744.328125         NaN
362  40680.417969         NaN
363  36457.316406         NaN
364  35030.250000         NaN
365  35555.996094         NaN

Create the independent dada set
 convert the data frame into a numpy array and drp the prediction column

In [14]:

x = np.array(df.drop(['Prediction'],1))

x = x[:len(df)-predictionDays]
print(x)

[[32067.642578]
 [32289.378906]
 [32366.392578]
 [32569.849609]
 [30432.546875]
 [33466.097656]
 [34316.386719]
 [34269.523438]
 [33114.359375]
 [33537.175781]
 [35510.289063]
 [37472.089844]
 [36926.066406]
 [38144.308594]
 [39266.011719]
 [38903.441406]
 [46196.464844]
 [46481.105469]
 [44918.183594]
 [47909.332031]
 [47504.851563]
 [47105.515625]
 [48717.289063]
 [47945.058594]
 [49199.871094]
 [52149.007813]
 [51679.796875]
 [55888.132813]
 [56099.519531]
 [57539.945313]
 [54207.320313]
 [48824.425781]
 [49705.332031]
 [47093.851563]
 [46339.761719]
 [46188.453125]
 [45137.769531]
 [49631.242188]
 [48378.988281]
 [50538.242188]
 [48561.167969]
 [48927.304688]
 [48912.382813]
 [51206.691406]
 [52246.523438]
 [54824.117188]
 [56008.550781]
 [57805.121094]
 [57332.089844]
 [61243.085938]
 [59302.316406]
 [55907.199219]
 [56804.902344]
 [58870.894531]
 [57858.921875]
 [58346.652344]
 [58313.644531]
 [57523.421875]
 [54529.144531]
 [54738.945313]
 [52774.265625]
 [51704.160156]
 [55137.3125  ]
 [55973.511719]
 [55950.746094]
 [57750.199219]
 [58917.691406]
 [58918.832031]
 [59095.808594]
 [59384.3125  ]
 [57603.890625]
 [58758.554688]
 [59057.878906]
 [58192.359375]
 [56048.9375  ]
 [58323.953125]
 [58245.003906]
 [59793.234375]
 [60204.964844]
 [59893.453125]
 [63503.457031]
 [63109.695313]
 [63314.011719]
 [61572.789063]
 [60683.820313]
 [56216.183594]
 [55724.265625]
 [56473.03125 ]
 [53906.089844]
 [51762.273438]
 [51093.652344]
 [50050.867188]
 [49004.253906]
 [54021.753906]
 [55033.117188]
 [54824.703125]
 [53555.109375]
 [57750.175781]
 [57828.050781]
 [56631.078125]
 [57200.292969]
 [53333.539063]
 [57424.007813]
 [56396.515625]
 [57356.402344]
 [58803.777344]
 [58232.316406]
 [55859.796875]
 [56704.574219]
 [49150.535156]
 [49716.191406]
 [49880.535156]
 [46760.1875  ]
 [46456.058594]
 [43537.511719]
 [42909.402344]
 [37002.441406]
 [40782.738281]
 [37304.691406]
 [37536.632813]
 [34770.582031]
 [38705.980469]
 [38402.222656]
 [39294.199219]
 [38436.96875 ]
 [35697.605469]
 [34616.066406]
 [35678.128906]
 [37332.855469]
 [36684.925781]
 [37575.179688]
 [39208.765625]
 [36894.40625 ]
 [35551.957031]
 [35862.378906]
 [33560.707031]
 [33472.632813]
 [37345.121094]
 [36702.597656]
 [37334.398438]
 [35552.515625]
 [39097.859375]
 [40218.476563]
 [40406.269531]
 [38347.0625  ]
 [38053.503906]
 [35787.246094]
 [35615.871094]
 [35698.296875]
 [31676.693359]
 [32505.660156]
 [33723.027344]
 [34662.4375  ]
 [31637.779297]
 [32186.277344]
 [34649.644531]
 [34434.335938]
 [35867.777344]
 [35040.835938]
 [33572.117188]
 [33897.046875]
 [34668.546875]
 [35287.78125 ]
 [33746.003906]
 [34235.195313]
 [33855.328125]
 [32877.371094]
 [33798.011719]
 [33520.519531]
 [34240.1875  ]
 [33155.847656]
 [32702.025391]
 [32822.347656]
 [31780.730469]
 [31421.539063]
 [31533.068359]
 [31796.810547]
 [30817.832031]
 [29807.347656]
 [32110.693359]
 [32313.105469]
 [33581.550781]
 [34292.445313]
 [35350.1875  ]
 [37337.535156]
 [39406.941406]
 [39995.90625 ]
 [40008.421875]
 [42235.546875]
 [41626.195313]
 [39974.894531]
 [39201.945313]
 [38152.980469]
 [39747.503906]
 [40869.554688]
 [42816.5     ]
 [44555.800781]
 [43798.117188]
 [46365.402344]
 [45585.03125 ]
 [45593.636719]
 [44428.289063]
 [47793.320313]
 [47096.945313]
 [47047.003906]
 [46004.484375]
 [44695.359375]
 [44801.1875  ]
 [46717.578125]
 [49339.175781]
 [48905.492188]
 [49321.652344]
 [49546.148438]
 [47706.117188]
 [48960.789063]
 [46942.21875 ]
 [49058.667969]
 [48902.402344]
 [48829.832031]
 [47054.984375]
 [47166.6875  ]
 [48847.027344]
 [49327.722656]
 [50025.375   ]
 [49944.625   ]
 [51753.410156]
 [52633.535156]
 [46811.128906]
 [46091.390625]
 [46391.421875]
 [44883.910156]
 [45201.457031]
 [46063.269531]
 [44963.074219]
 [47092.492188]
 [48176.347656]
 [47783.359375]
 [47267.519531]
 [48278.363281]
 [47260.21875 ]
 [42843.800781]
 [40693.675781]
 [43574.507813]
 [44895.097656]
 [42839.75    ]
 [42716.59375 ]
 [43208.539063]
 [42235.730469]
 [41034.542969]
 [41564.363281]
 [43790.894531]
 [48116.941406]
 [47711.488281]
 [48199.953125]
 [49112.902344]
 [51514.8125  ]
 [55361.449219]
 [53805.984375]
 [53967.847656]
 [54968.222656]
 [54771.578125]
 [57484.789063]
 [56041.058594]
 [57401.097656]
 [57321.523438]
 [61593.949219]
 [60892.179688]
 [61553.617188]
 [62026.078125]
 [64261.992188]
 [65992.835938]
 [62210.171875]
 [60692.265625]
 [61393.617188]
 [60930.835938]
 [63039.824219]
 [60363.792969]
 [58482.386719]
 [60622.136719]
 [62227.964844]
 [61888.832031]
 [61318.957031]
 [61004.40625 ]
 [63226.402344]
 [62970.046875]
 [61452.230469]
 [61125.675781]
 [61527.480469]
 [63326.988281]
 [67566.828125]
 [66971.828125]
 [64995.230469]
 [64949.960938]
 [64155.941406]
 [64469.527344]
 [65466.839844]
 [63557.871094]
 [60161.246094]
 [60368.011719]
 [56942.136719]
 [58119.578125]
 [59697.195313]
 [58730.476563]
 [56289.289063]
 [57569.074219]
 [56280.425781]
 [57274.679688]
 [53569.765625]
 [54815.078125]
 [57248.457031]
 [57806.566406]
 [57005.425781]
 [57229.828125]
 [56477.816406]
 [53598.246094]
 [49200.703125]
 [49368.847656]
 [50582.625   ]
 [50700.085938]
 [50504.796875]
 [47672.121094]
 [47243.304688]
 [49362.507813]
 [50098.335938]
 [46737.480469]
 [46612.632813]
 [48896.722656]
 [47665.425781]
 [46202.144531]
 [46848.777344]
 [46707.015625]
 [46880.277344]
 [48936.613281]
 [48628.511719]
 [50784.539063]
 [50822.195313]]

In [ ]:
Create the dependent data set
convert the data frame into a numpy array

In [15]:

y = np.array(df['Prediction'])

y = y[:-predictionDays]
print(y)

[54207.320313 48824.425781 49705.332031 47093.851563 46339.761719
 46188.453125 45137.769531 49631.242188 48378.988281 50538.242188
 48561.167969 48927.304688 48912.382813 51206.691406 52246.523438
 54824.117188 56008.550781 57805.121094 57332.089844 61243.085938
 59302.316406 55907.199219 56804.902344 58870.894531 57858.921875
 58346.652344 58313.644531 57523.421875 54529.144531 54738.945313
 52774.265625 51704.160156 55137.3125   55973.511719 55950.746094
 57750.199219 58917.691406 58918.832031 59095.808594 59384.3125
 57603.890625 58758.554688 59057.878906 58192.359375 56048.9375
 58323.953125 58245.003906 59793.234375 60204.964844 59893.453125
 63503.457031 63109.695313 63314.011719 61572.789063 60683.820313
 56216.183594 55724.265625 56473.03125  53906.089844 51762.273438
 51093.652344 50050.867188 49004.253906 54021.753906 55033.117188
 54824.703125 53555.109375 57750.175781 57828.050781 56631.078125
 57200.292969 53333.539063 57424.007813 56396.515625 57356.402344
 58803.777344 58232.316406 55859.796875 56704.574219 49150.535156
 49716.191406 49880.535156 46760.1875   46456.058594 43537.511719
 42909.402344 37002.441406 40782.738281 37304.691406 37536.632813
 34770.582031 38705.980469 38402.222656 39294.199219 38436.96875
 35697.605469 34616.066406 35678.128906 37332.855469 36684.925781
 37575.179688 39208.765625 36894.40625  35551.957031 35862.378906
 33560.707031 33472.632813 37345.121094 36702.597656 37334.398438
 35552.515625 39097.859375 40218.476563 40406.269531 38347.0625
 38053.503906 35787.246094 35615.871094 35698.296875 31676.693359
 32505.660156 33723.027344 34662.4375   31637.779297 32186.277344
 34649.644531 34434.335938 35867.777344 35040.835938 33572.117188
 33897.046875 34668.546875 35287.78125  33746.003906 34235.195313
 33855.328125 32877.371094 33798.011719 33520.519531 34240.1875
 33155.847656 32702.025391 32822.347656 31780.730469 31421.539063
 31533.068359 31796.810547 30817.832031 29807.347656 32110.693359
 32313.105469 33581.550781 34292.445313 35350.1875   37337.535156
 39406.941406 39995.90625  40008.421875 42235.546875 41626.195313
 39974.894531 39201.945313 38152.980469 39747.503906 40869.554688
 42816.5      44555.800781 43798.117188 46365.402344 45585.03125
 45593.636719 44428.289063 47793.320313 47096.945313 47047.003906
 46004.484375 44695.359375 44801.1875   46717.578125 49339.175781
 48905.492188 49321.652344 49546.148438 47706.117188 48960.789063
 46942.21875  49058.667969 48902.402344 48829.832031 47054.984375
 47166.6875   48847.027344 49327.722656 50025.375    49944.625
 51753.410156 52633.535156 46811.128906 46091.390625 46391.421875
 44883.910156 45201.457031 46063.269531 44963.074219 47092.492188
 48176.347656 47783.359375 47267.519531 48278.363281 47260.21875
 42843.800781 40693.675781 43574.507813 44895.097656 42839.75
 42716.59375  43208.539063 42235.730469 41034.542969 41564.363281
 43790.894531 48116.941406 47711.488281 48199.953125 49112.902344
 51514.8125   55361.449219 53805.984375 53967.847656 54968.222656
 54771.578125 57484.789063 56041.058594 57401.097656 57321.523438
 61593.949219 60892.179688 61553.617188 62026.078125 64261.992188
 65992.835938 62210.171875 60692.265625 61393.617188 60930.835938
 63039.824219 60363.792969 58482.386719 60622.136719 62227.964844
 61888.832031 61318.957031 61004.40625  63226.402344 62970.046875
 61452.230469 61125.675781 61527.480469 63326.988281 67566.828125
 66971.828125 64995.230469 64949.960938 64155.941406 64469.527344
 65466.839844 63557.871094 60161.246094 60368.011719 56942.136719
 58119.578125 59697.195313 58730.476563 56289.289063 57569.074219
 56280.425781 57274.679688 53569.765625 54815.078125 57248.457031
 57806.566406 57005.425781 57229.828125 56477.816406 53598.246094
 49200.703125 49368.847656 50582.625    50700.085938 50504.796875
 47672.121094 47243.304688 49362.507813 50098.335938 46737.480469
 46612.632813 48896.722656 47665.425781 46202.144531 46848.777344
 46707.015625 46880.277344 48936.613281 48628.511719 50784.539063
 50822.195313 50429.859375 50809.515625 50640.417969 47588.855469
 46444.710938 47178.125    46306.445313 47686.8125   47345.21875
 46458.117188 45897.574219 43569.003906 43160.929688 41557.902344
 41733.941406 41911.601563 41821.261719 42735.855469 43949.101563
 42591.570313 43099.699219 43177.398438 43113.878906 42250.550781
 42375.632813 41744.328125 40680.417969 36457.316406 35030.25
 35555.996094]

train test split
set the predictionDays array equal to last 30 rows from the original data set

In [16]:

xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = 0.2)


predictionDays_array = np.array(df.drop(['Prediction'],1))[-predictionDays:]
print(predictionDays_array)

[[50429.859375]
 [50809.515625]
 [50640.417969]
 [47588.855469]
 [46444.710938]
 [47178.125   ]
 [46306.445313]
 [47686.8125  ]
 [47345.21875 ]
 [46458.117188]
 [45897.574219]
 [43569.003906]
 [43160.929688]
 [41557.902344]
 [41733.941406]
 [41911.601563]
 [41821.261719]
 [42735.855469]
 [43949.101563]
 [42591.570313]
 [43099.699219]
 [43177.398438]
 [43113.878906]
 [42250.550781]
 [42375.632813]
 [41744.328125]
 [40680.417969]
 [36457.316406]
 [35030.25    ]
 [35555.996094]]

In [17]:
## SVR
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(xtrain, ytrain)

SVR(C=1000.0, gamma=1e-05)

In [18]:
## testing
svr_rbf_confidence = svr_rbf.score(xtest,ytest)
print('SVR_RBF accuracy :',svr_rbf_confidence)

SVR_RBF accuracy : 0.14609514337299667

In [19]:
# print the predicted values
svm_prediction = svr_rbf.predict(xtest)
print(svm_prediction)
print()
print(ytest)

[48604.08592526 50716.73207013 47672.07095515 50739.41418216
 50537.22285059 47871.50504963 48759.11487804 53377.03329606
 46972.33936076 49428.94114634 49998.52390476 48419.71520915
 48410.46308918 48703.58455564 47252.47933985 48609.36023346
 49640.41947092 50105.16144844 50833.52912001 53139.94371688
 50317.95094193 49266.12081324 48349.04931042 45785.18771856
 50389.44298547 49468.48129003 50723.51316064 45159.46949258
 44854.5617552  50135.12775056 47503.1644233  47547.42280695
 48169.91155919 46815.24147724 48797.49124065 48637.25211065
 44734.17555364 46589.69657646 52193.38819133 50852.86405431
 43978.78725982 49989.75506607 51021.66807662 50958.30033681
 47849.16047828 49394.8203633  47433.77100719 49303.7046143
 44144.42213344 47672.92033785 51796.34336746 49577.58887874
 47796.63036051 50732.76466425 45476.48334581 46212.97470416
 45789.15506528 45694.88384149 44271.9112133  45148.14219784
 49040.87495857 48378.37430161 48508.24802293 46497.22183878
 45552.22456151 48896.0749854  50841.30496954 49898.77826686]

[46612.632813 46456.058594 58192.359375 50582.625    48628.511719
 60692.265625 56008.550781 57356.402344 33897.046875 36457.316406
 51514.8125   44963.074219 56041.058594 60892.179688 35787.246094
 47672.121094 57484.789063 39294.199219 57229.828125 63226.402344
 58917.691406 56477.816406 44801.1875   48960.789063 63503.457031
 38436.96875  60161.246094 32505.660156 33155.847656 64469.527344
 56704.574219 46848.777344 62210.171875 47047.003906 60683.820313
 47345.21875  39406.941406 40869.554688 57523.421875 50784.539063
 30817.832031 37536.632813 57424.007813 54738.945313 41564.363281
 31533.068359 33520.519531 46306.445313 39747.503906 57274.679688
 42909.402344 47054.984375 32313.105469 60930.835938 46458.117188
 47096.945313 33798.011719 40218.476563 58758.554688 49321.652344
 37575.179688 55973.511719 53967.847656 48847.027344 51704.160156
 50700.085938 53555.109375 41911.601563]

the model predictions for the next 30 days/ Print the actual price for bitcoin for last 30 days

In [20]:

svm_prediction = svr_rbf.predict(predictionDays_array)
print(svm_prediction)
print()

print(df.tail(predictionDays))

[46409.62327369 44741.53638938 45001.88653687 48341.42686731
 48039.01759845 49388.65244353 48717.07163949 48128.36341123
 50039.38451023 47937.72385969 47669.33182858 47878.3604327
 49596.18543897 49651.6973754  49345.63996112 48913.73710229
 49115.85087585 50776.76636906 48303.52306026 50251.87975166
 49824.56340839 49531.69925194 49772.58590246 48851.81464107
 49167.8446528  49318.60674025 48084.69809835 47866.13748012
 46678.22272702 44804.52971389]

            Close  Prediction
336  50429.859375         NaN
337  50809.515625         NaN
338  50640.417969         NaN
339  47588.855469         NaN
340  46444.710938         NaN
341  47178.125000         NaN
342  46306.445313         NaN
343  47686.812500         NaN
344  47345.218750         NaN
345  46458.117188         NaN
346  45897.574219         NaN
347  43569.003906         NaN
348  43160.929688         NaN
349  41557.902344         NaN
350  41733.941406         NaN
351  41911.601563         NaN
352  41821.261719         NaN
353  42735.855469         NaN
354  43949.101563         NaN
355  42591.570313         NaN
356  43099.699219         NaN
357  43177.398438         NaN
358  43113.878906         NaN
359  42250.550781         NaN
360  42375.632813         NaN
361  41744.328125         NaN
362  40680.417969         NaN
363  36457.316406         NaN
364  35030.250000         NaN
365  35555.996094         NaN